#$f90{?} = mpif90
#$cc{?} = cc
$fflags_opt{?}   = -Ofast -gpu=mem:unified -mp=gpu -cuda -cudalib=cufft .
$fflags{?}       = $fflags_opt

$fflags_core{?} = $fflags
$fflags_io{?} = $fflags
$fflags_psrc{?}  = -Ofast -gpu=mem:unified -mp=gpu -cuda -cudalib=cufft .
$cflags = -cuda -cudalib=cufft
$ldflags{?}      = -gpu=mem:unified -mp=gpu -cuda -cudalib=cufft

$fppdefs_debug{?} =  DEBUG_MODE
$fpp_flags{?} = -E -P -traditional

$fppdefs{?} = U_ACTIVE V_ACTIVE W_ACTIVE ENFORCE_THREAD_SAFETY __DARWIN GPU CUDA
$cppdefs{?} = __DARWIN _XOPEN_SOURCE=700 ENFORCE_THREAD_SAFETY
